@CHARSET "UTF-8";

.inline-form {
}

.inline-form .wrapper {
  float: left;
  width: 100%;
}

.inline-form .wrapper .content {
  margin: 0 75px 0 92px;  /* 0 RC 0 LC */
}

.inline-form .left {
  float: left;
  width: 92px; /* LC */
  margin-left: -100%;
}

.inline-form .text {
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  display: block;
  font-size: 16px;
}

.inline-form .right {
  float: left;
  width: 75px; /* RC */
  margin-left: -75px; /* -RC */
}

.inline-form .footer{
  clear: left;
}